In [1]:
import pandas as pd

In [2]:
metro=pd.read_csv('/content/eco2mix-metropoles-tr.csv', sep=';')
mfdata=pd.read_csv('/content/meteo-france-donneesq-covid19.csv', sep =';', encoding = 'latin1',on_bad_lines='skip' )
mfdata

,POSTE,NOM,LON,LAT,ALT,DATE,RR,QRR,TN,QTN,...,UN,QUN,UX,QUX,DHUMI40,QDHUMI40,DHUMI80,QDHUMI80,UM,QUM
0,1089001,AMBERIEU,"5°19'45""E","45°58'35""N",250,20200101,"0,0",v,"-2,2",v,...,97.0,v,98.0,v,0.0,t,1440.0,t,97.0,v
1,1089001,AMBERIEU,"5°19'45""E","45°58'35""N",250,20200102,"0,0",v,"-1,8",v,...,69.0,v,99.0,v,0.0,t,860.0,t,86.0,v
2,1089001,AMBERIEU,"5°19'45""E","45°58'35""N",250,20200103,"0,4",v,"3,3",v,...,71.0,v,95.0,v,0.0,t,620.0,t,81.0,v
3,1089001,AMBERIEU,"5°19'45""E","45°58'35""N",250,20200104,"0,6",v,"3,4",v,...,74.0,v,97.0,v,0.0,t,1168.0,t,89.0,v
4,1089001,AMBERIEU,"5°19'45""E","45°58'35""N",250,20200105,"0,0",v,"-3,4",v,...,77.0,v,97.0,v,0.0,t,1395.0,t,92.0,v
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53419,95527001,ROISSY,"2°32'03""E","49°00'54""N",108,20210417,"0,0",v,"2,6",v,...,36.0,v,89.0,v,239.0,t,357.0,t,62.0,v
53420,95527001,ROISSY,"2°32'03""E","49°00'54""N",108,20210418,"0,0",v,"2,0",v,...,45.0,v,90.0,v,0.0,t,349.0,t,66.0,v
53421,95527001,ROISSY,"2°32'03""E","49°00'54""N",108,20210419,"0,0",v,"3,3",v,...,36.0,v,86.0,v,226.0,t,403.0,t,60.0,v
53422,95527001,ROISSY,"2°32'03""E","49°00'54""N",108,20210420,"0,0",v,"5,7",v,...,28.0,v,85.0,v,358.0,t,215.0,t,56.0,v
53423,95527001,ROISSY,"2°32'03""E","49°00'54""N",108,20210421,"0,0",v,"6,5",v,...,36.0,v,84.0,v,40.0,t,151.0,t,61.0,v

In [4]:
metro['Métropole']
listemetro=[]
for i in metro['Métropole'] : 
  if i not in listemetro : 
    listemetro.append(i)
#listemetro #liste des différentes métropoles
listemf=[]
for j in mfdata['NOM'] : 
  if j not in listemf : 
    listemf.append(j)
print (len(listemf))
#listemf # liste des différentes stations météo

112

Pour savoir quelles stations sont les plus proches d'une métropole donnée, petit programme pour les afficher sur un fond de carte.

In [ ]:
pattern = r'(?P<d>[\d\.]+).*?(?P<m>[\d\.]+).*?(?P<s>[\d\.]+).*?(?P<h>[NSWE])'
hemisphere_sig = {'N': 1, 'S': -1, 'E': 1, 'W': -1}

dms = mfdata['LAT'].str.extract(pattern)
dms['h'] = dms['h'].map(hemisphere_sig)
dms = dms.astype(float)

mfdata['Lat'] = dms['h'] * (dms['d'] + dms['m'].div(60) + dms['s'].div(3600))

dms = mfdata['LON'].str.extract(pattern)
dms['h'] = dms['h'].map(hemisphere_sig)
dms = dms.astype(float)

mfdata['Lon'] = dms['h'] * (dms['d'] + dms['m'].div(60) + dms['s'].div(3600))
print(mfdata)

mfdata=mfdata.dropna(subset=['Lon'])

mfdata=mfdata.dropna(subset=['Lat'])

import folium
map_osm = folium.Map(location=[48.85, 2.34])
for ind, lat, lon, com in mfdata[['Lat', 'Lon', 'NOM']].itertuples():
    map_osm.add_child(folium.RegularPolygonMarker(location=[lat,lon], popup=com,
                       fill_color='#132b5e', radius=5))
map_osm

          POSTE       NOM        LON         LAT  ALT      DATE   RR QRR  \
0       1089001  AMBERIEU  5°19'45"E  45°58'35"N  250  20200101  0,0   v
1       1089001  AMBERIEU  5°19'45"E  45°58'35"N  250  20200102  0,0   v
2       1089001  AMBERIEU  5°19'45"E  45°58'35"N  250  20200103  0,4   v
3       1089001  AMBERIEU  5°19'45"E  45°58'35"N  250  20200104  0,6   v
4       1089001  AMBERIEU  5°19'45"E  45°58'35"N  250  20200105  0,0   v
...         ...       ...        ...         ...  ...       ...  ...  ..
53419  95527001    ROISSY  2°32'03"E  49°00'54"N  108  20210417  0,0   v
53420  95527001    ROISSY  2°32'03"E  49°00'54"N  108  20210418  0,0   v
53421  95527001    ROISSY  2°32'03"E  49°00'54"N  108  20210419  0,0   v
53422  95527001    ROISSY  2°32'03"E  49°00'54"N  108  20210420  0,0   v
53423  95527001    ROISSY  2°32'03"E  49°00'54"N  108  20210421  0,0   v

         TN QTN  ...    UX QUX DHUMI40 QDHUMI40 DHUMI80 QDHUMI80    UM QUM  \
0      -2,2   v  ...  98.0   v     0.0        t  1440.0        t  97.0   v
1      -1,8   v  ...  99.0   v     0.0        t   860.0        t  86.0   v
2       3,3   v  ...  95.0   v     0.0        t   620.0        t  81.0   v
3       3,4   v  ...  97.0   v     0.0        t  1168.0        t  89.0   v
4      -3,4   v  ...  97.0   v     0.0        t  1395.0        t  92.0   v
...     ...  ..  ...   ...  ..     ...      ...     ...      ...   ...  ..
53419   2,6   v  ...  89.0   v   239.0        t   357.0        t  62.0   v
53420   2,0   v  ...  90.0   v     0.0        t   349.0        t  66.0   v
53421   3,3   v  ...  86.0   v   226.0        t   403.0        t  60.0   v
53422   5,7   v  ...  85.0   v   358.0        t   215.0        t  56.0   v
53423   6,5   v  ...  84.0   v    40.0        t   151.0        t  61.0   v

             Lat       Lon
0      45.976389  5.329167
1      45.976389  5.329167
2      45.976389  5.329167
3      45.976389  5.329167
4      45.976389  5.329167
...          ...       ...
53419  49.015000  2.534167
53420  49.015000  2.534167
53421  49.015000  2.534167
53422  49.015000  2.534167
53423  49.015000  2.534167

[53424 rows x 28 columns]

In [ ]:
mfdata2=mfdata[['NOM','Lat','Lon']]

In [ ]:
map_osm = folium.Map(location=[48.85, 2.34])
for ind, lat, lon, com in mfdata2[['Lat', 'Lon', 'NOM']].itertuples():
    map_osm.add_child(folium.RegularPolygonMarker(location=[lat,lon], popup=com,
                       fill_color='#132b5e', radius=5))
map_osm.save('mymap.html')

Ca marche !

On rajoute une nouvelle colonne : Pour chaque métropole, la station météo la plus proche.
On fait ensuite un merge pour ne garder que les stations météos d'intérêt.

In [3]:
metro['NOM']=''
metro.loc[metro['Métropole'] == 'Clermont Auvergne Métropole', 'NOM'] = 'CLERMONT-FD'
metro.loc[metro['Métropole'] == "Métropole d'Aix-Marseille-Provence", 'NOM'] = 'MARSEILLE'
metro.loc[metro['Métropole'] == 'Métropole de Lyon', 'NOM'] = 'LYON-BRON'
metro.loc[metro['Métropole'] == 'Dijon Métropole', 'NOM'] = 'DIJON-LONGVIC'
metro.loc[metro['Métropole'] == 'Métropole Grenoble-Alpes-Métropole', 'NOM'] = 'GRENOBLE-ST GEOIRS'
metro.loc[metro['Métropole'] == 'Métropole Européenne de Lille', 'NOM'] = 'LILLE-LESQUIN'
metro.loc[metro['Métropole'] == 'Métropole du Grand Nancy', 'NOM'] = 'NANCY-ESSEY'
metro.loc[metro['Métropole'] == 'Montpellier Méditerranée Métropole', 'NOM'] = 'MONTPELLIER-AEROPORT'
metro.loc[metro['Métropole'] == 'Nantes Métropole', 'NOM'] = 'NANTES-BOUGUENAIS'
metro.loc[metro['Métropole'] == 'Bordeaux Métropole', 'NOM'] = 'BORDEAUX-MERIGNAC'
metro.loc[metro['Métropole'] == 'Brest Métropole', 'NOM'] = 'BREST-GUIPAVAS'
metro.loc[metro['Métropole'] == "Métropole Nice Côte d'Azur", 'NOM'] = 'NICE'
metro.loc[metro['Métropole'] == "Métropole du Grand Paris", 'NOM'] = 'PARIS-MONTSOURIS'
metro.loc[metro['Métropole'] == "Eurométropole de Strasbourg", 'NOM'] = 'STRASBOURG-ENTZHEIM'
metro.loc[metro['Métropole'] == "Saint-Etienne Métropole", 'NOM'] = 'ST ETIENNE-BOUTHEON'
metro.loc[metro['Métropole'] == "Métropole Rennes Métropole", 'NOM'] = 'RENNES-ST JACQUES'
metro.loc[metro['Métropole'] == "Métropole Rouen Normandie", 'NOM'] = 'ROUEN-BOOS'
metro.loc[metro['Métropole'] == "Métropole Toulon-Provence-Méditerranée", 'NOM'] = 'HYERES'
metro.loc[metro['Métropole'] == "Toulouse Métropole", 'NOM'] = 'TOULOUSE-BLAGNAC'

In [4]:
listestations=['CLERMONT-FD','MARSEILLE','LYON-BRON','DIJON-LONGVIC','GRENOBLE-ST GEOIRS','LILLE-LESQUIN','NANCY-ESSEY','MONTPELLIER-AEROPORT','NANTES-BOUGUENAIS','BORDEAUX-MERIGNAC','BREST-GUIPAVAS','NICE','PARIS-MONTSOURIS','STRASBOURG-ENTZHEIM','ST ETIENNE-BOUTHEON','RENNES-ST JACQUES','ROUEN-BOOS' ,'HYERES','TOULOUSE-BLAGNAC']
mfdata2=mfdata.loc[mfdata['NOM'].isin(listestations)] #On ne conserve que les stations météo d'intérêt pour alléger le merge

In [5]:
metro

,Code métropole,Métropole,Nature,Date,Heures,Date - Heure,Consommation (MW),Production,Echanges physiques,Stockage batterie,Déstockage batterie,Eolien terrestre,Eolien offshore,NOM
0,243300316,Bordeaux Métropole,Données temps réel,2019-02-15,23:15,2019-02-15T23:15:00+01:00,730.0,NaN,NaN,NaN,NaN,NaN,NaN,BORDEAUX-MERIGNAC
1,243300316,Bordeaux Métropole,Données temps réel,2019-02-16,02:30,2019-02-16T02:30:00+01:00,667.0,NaN,NaN,NaN,NaN,NaN,NaN,BORDEAUX-MERIGNAC
2,243300316,Bordeaux Métropole,Données temps réel,2019-02-16,06:15,2019-02-16T06:15:00+01:00,691.0,NaN,NaN,NaN,NaN,NaN,NaN,BORDEAUX-MERIGNAC
3,243300316,Bordeaux Métropole,Données temps réel,2019-02-16,06:45,2019-02-16T06:45:00+01:00,678.0,NaN,NaN,NaN,NaN,NaN,NaN,BORDEAUX-MERIGNAC
4,243300316,Bordeaux Métropole,Données temps réel,2019-02-16,08:15,2019-02-16T08:15:00+01:00,709.0,NaN,NaN,NaN,NaN,NaN,NaN,BORDEAUX-MERIGNAC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1540550,200023414,Métropole Rouen Normandie,Données temps réel,2020-09-24,00:00,2020-09-24T00:00:00+02:00,406.0,NaN,NaN,NaN,NaN,NaN,NaN,ROUEN-BOOS
1540551,200054807,Métropole d'Aix-Marseille-Provence,Données temps réel,2021-03-01,07:30,2021-03-01T07:30:00+01:00,1830.0,NaN,NaN,NaN,NaN,NaN,NaN,MARSEILLE
1540552,243500139,Métropole Rennes Métropole,Données temps réel,2018-06-14,18:15,2018-06-14T18:15:00+02:00,253.0,NaN,NaN,NaN,NaN,NaN,NaN,RENNES-ST JACQUES
1540553,243100518,Toulouse Métropole,Données temps réel,2022-06-01,10:30,2022-06-01T10:30:00+02:00,422.0,ND,411,-,-,-,-,TOULOUSE-BLAGNAC
1540554,20002341,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,

On génère une liste de dates du 1er janvier 2020 au 20 avril 2021.

In [10]:
liste=[]
for m in range(13) :
   for j in range(32) :
      liste.append('2020-'+str(m)+'-'+str(j))
for m in range(4) :
   for j in range(32) :
      liste.append('2021-'+str(m)+'-'+str(j))
for j in range(21):
  liste.append('2021-04-'+str(j))
liste

['2020-0-0',
 '2020-0-1',
 '2020-0-2',
 '2020-0-3',
 '2020-0-4',
 '2020-0-5',
 '2020-0-6',
 '2020-0-7',
 '2020-0-8',
 '2020-0-9',
 '2020-0-10',
 '2020-0-11',
 '2020-0-12',
 '2020-0-13',
 '2020-0-14',
 '2020-0-15',
 '2020-0-16',
 '2020-0-17',
 '2020-0-18',
 '2020-0-19',
 '2020-0-20',
 '2020-0-21',
 '2020-0-22',
 '2020-0-23',
 '2020-0-24',
 '2020-0-25',
 '2020-0-26',
 '2020-0-27',
 '2020-0-28',
 '2020-0-29',
 '2020-0-30',
 '2020-0-31',
 '2020-1-0',
 '2020-1-1',
 '2020-1-2',
 '2020-1-3',
 '2020-1-4',
 '2020-1-5',
 '2020-1-6',
 '2020-1-7',
 '2020-1-8',
 '2020-1-9',
 '2020-1-10',
 '2020-1-11',
 '2020-1-12',
 '2020-1-13',
 '2020-1-14',
 '2020-1-15',
 '2020-1-16',
 '2020-1-17',
 '2020-1-18',
 '2020-1-19',
 '2020-1-20',
 '2020-1-21',
 '2020-1-22',
 '2020-1-23',
 '2020-1-24',
 '2020-1-25',
 '2020-1-26',
 '2020-1-27',
 '2020-1-28',
 '2020-1-29',
 '2020-1-30',
 '2020-1-31',
 '2020-2-0',
 '2020-2-1',
 '2020-2-2',
 '2020-2-3',
 '2020-2-4',
 '2020-2-5',
 '2020-2-6',
 '2020-2-7',
 '2020-2-8',
 '2020-2-9',
 '2020-2-10',
 '2020-2-11',
 '2020-2-12',
 '2020-2-13',
 '2020-2-14',
 '2020-2-15',
 '2020-2-16',
 '2020-2-17',
 '2020-2-18',
 '2020-2-19',
 '2020-2-20',
 '2020-2-21',
 '2020-2-22',
 '2020-2-23',
 '2020-2-24',
 '2020-2-25',
 '2020-2-26',
 '2020-2-27',
 '2020-2-28',
 '2020-2-29',
 '2020-2-30',
 '2020-2-31',
 '2020-3-0',
 '2020-3-1',
 '2020-3-2',
 '2020-3-3',
 '2020-3-4',
 '2020-3-5',
 '2020-3-6',
 '2020-3-7',
 '2020-3-8',
 '2020-3-9',
 '2020-3-10',
 '2020-3-11',
 '2020-3-12',
 '2020-3-13',
 '2020-3-14',
 '2020-3-15',
 '2020-3-16',
 '2020-3-17',
 '2020-3-18',
 '2020-3-19',
 '2020-3-20',
 '2020-3-21',
 '2020-3-22',
 '2020-3-23',
 '2020-3-24',
 '2020-3-25',
 '2020-3-26',
 '2020-3-27',
 '2020-3-28',
 '2020-3-29',
 '2020-3-30',
 '2020-3-31',
 '2020-4-0',
 '2020-4-1',
 '2020-4-2',
 '2020-4-3',
 '2020-4-4',
 '2020-4-5',
 '2020-4-6',
 '2020-4-7',
 '2020-4-8',
 '2020-4-9',
 '2020-4-10',
 '2020-4-11',
 '2020-4-12',
 '2020-4-13',
 '2020-4-14',
 '2020-4-15',
 '2020-4-16',
 '2020-4-17',
 '2020-4-18',
 '2020-4-19',
 '2020-4-20',
 '2020-4-21',
 '2020-4-22',
 '2020-4-23',
 '2020-4-24',
 '2020-4-25',
 '2020-4-26',
 '2020-4-27',
 '2020-4-28',
 '2020-4-29',
 '2020-4-30',
 '2020-4-31',
 '2020-5-0',
 '2020-5-1',
 '2020-5-2',
 '2020-5-3',
 '2020-5-4',
 '2020-5-5',
 '2020-5-6',
 '2020-5-7',
 '2020-5-8',
 '2020-5-9',
 '2020-5-10',
 '2020-5-11',
 '2020-5-12',
 '2020-5-13',
 '2020-5-14',
 '2020-5-15',
 '2020-5-16',
 '2020-5-17',
 '2020-5-18',
 '2020-5-19',
 '2020-5-20',
 '2020-5-21',
 '2020-5-22',
 '2020-5-23',
 '2020-5-24',
 '2020-5-25',
 '2020-5-26',
 '2020-5-27',
 '2020-5-28',
 '2020-5-29',
 '2020-5-30',
 '2020-5-31',
 '2020-6-0',
 '2020-6-1',
 '2020-6-2',
 '2020-6-3',
 '2020-6-4',
 '2020-6-5',
 '2020-6-6',
 '2020-6-7',
 '2020-6-8',
 '2020-6-9',
 '2020-6-10',
 '2020-6-11',
 '2020-6-12',
 '2020-6-13',
 '2020-6-14',
 '2020-6-15',
 '2020-6-16',
 '2020-6-17',
 '2020-6-18',
 '2020-6-19',
 '2020-6-20',
 '2020-6-21',
 '2020-6-22',
 '2020-6-23',
 '2020-6-24',
 '2020-6-25',
 '2020-6-26',
 '2020-6-27',
 '2020-6-28',
 '2020-6-29',
 '2020-6-30',
 '2020-6-31',
 '2020-7-0',
 '2020-7-1',
 '2020-7-2',
 '2020-7-3',
 '2020-7-4',
 '2020-7-5',
 '2020-7-6',
 '2020-7-7',
 '2020-7-8',
 '2020-7-9',
 '2020-7-10',
 '2020-7-11',
 '2020-7-12',
 '2020-7-13',
 '2020-7-14',
 '2020-7-15',
 '2020-7-16',
 '2020-7-17',
 '2020-7-18',
 '2020-7-19',
 '2020-7-20',
 '2020-7-21',
 '2020-7-22',
 '2020-7-23',
 '2020-7-24',
 '2020-7-25',
 '2020-7-26',
 '2020-7-27',
 '2020-7-28',
 '2020-7-29',
 '2020-7-30',
 '2020-7-31',
 '2020-8-0',
 '2020-8-1',
 '2020-8-2',
 '2020-8-3',
 '2020-8-4',
 '2020-8-5',
 '2020-8-6',
 '2020-8-7',
 '2020-8-8',
 '2020-8-9',
 '2020-8-10',
 '2020-8-11',
 '2020-8-12',
 '2020-8-13',
 '2020-8-14',
 '2020-8-15',
 '2020-8-16',
 '2020-8-17',
 '2020-8-18',
 '2020-8-19',
 '2020-8-20',
 '2020-8-21',
 '2020-8-22',
 '2020-8-23',
 '2020-8-24',
 '2020-8-25',
 '2020-8-26',
 '2020-8-27',
 '2020-8-28',
 '2020-8-29',
 '2020-8-30',
 '2020-8-31',
 '2020-9-0',
 '2020-9-1',
 '2020-9-2',
 '2020-9-3',
 '2020-9-4',
 '2020-9-5',
 '2020-9-6',
 '2020-9-7',
 '2020-9-8',
 '2020-9-9',
 '2020-9-10',
 '2020-9-11',
 '2020-9-12',
 '2020-9-13',
 '2020-9-14',
 '2020-9-15',
 '2020-9-16',
 '2020-9-17',
 '2020-9-18',
 '2020-9-19',
 '2020-9-20',
 '2020-9-21',
 '2020-9-22',
 '2020-9-23',
 '2020-9-24',
 '2020-9-25',
 '2020-9-26',
 '2020-9-27',
 '2020-9-28',
 '2020-9-29',
 '2020-9-30',
 '2020-9-31',
 '2020-10-0',
 '2020-10-1',
 '2020-10-2',
 '2020-10-3',
 '2020-10-4',
 '2020-10-5',
 '2020-10-6',
 '2020-10-7',
 '2020-10-8',
 '2020-10-9',
 '2020-10-10',
 '2020-10-11',
 '2020-10-12',
 '2020-10-13',
 '2020-10-14',
 '2020-10-15',
 '2020-10-16',
 '2020-10-17',
 '2020-10-18',
 '2020-10-19',
 '2020-10-20',
 '2020-10-21',
 '2020-10-22',
 '2020-10-23',
 '2020-10-24',
 '2020-10-25',
 '2020-10-26',
 '2020-10-27',
 '2020-10-28',
 '2020-10-29',
 '2020-10-30',
 '2020-10-31',
 '2020-11-0',
 '2020-11-1',
 '2020-11-2',
 '2020-11-3',
 '2020-11-4',
 '2020-11-5',
 '2020-11-6',
 '2020-11-7',
 '2020-11-8',
 '2020-11-9',
 '2020-11-10',
 '2020-11-11',
 '2020-11-12',
 '2020-11-13',
 '2020-11-14',
 '2020-11-15',
 '2020-11-16',
 '2020-11-17',
 '2020-11-18',
 '2020-11-19',
 '2020-11-20',
 '2020-11-21',
 '2020-11-22',
 '2020-11-23',
 '2020-11-24',
 '2020-11-25',
 '2020-11-26',
 '2020-11-27',
 '2020-11-28',
 '2020-11-29',
 '2020-11-30',
 '2020-11-31',
 '2020-12-0',
 '2020-12-1',
 '2020-12-2',
 '2020-12-3',
 '2020-12-4',
 '2020-12-5',
 '2020-12-6',
 '2020-12-7',
 '2020-12-8',
 '2020-12-9',
 '2020-12-10',
 '2020-12-11',
 '2020-12-12',
 '2020-12-13',
 '2020-12-14',
 '2020-12-15',
 '2020-12-16',
 '2020-12-17',
 '2020-12-18',
 '2020-12-19',
 '2020-12-20',
 '2020-12-21',
 '2020-12-22',
 '2020-12-23',
 '2020-12-24',
 '2020-12-25',
 '2020-12-26',
 '2020-12-27',
 '2020-12-28',
 '2020-12-29',
 '2020-12-30',
 '2020-12-31',
 '2021-0-0',
 '2021-0-1',
 '2021-0-2',
 '2021-0-3',
 '2021-0-4',
 '2021-0-5',
 '2021-0-6',
 '2021-0-7',
 '2021-0-8',
 '2021-0-9',
 '2021-0-10',
 '2021-0-11',
 '2021-0-12',
 '2021-0-13',
 '2021-0-14',
 '2021-0-15',
 '2021-0-16',
 '2021-0-17',
 '2021-0-18',
 '2021-0-19',
 '2021-0-20',
 '2021-0-21',
 '2021-0-22',
 '2021-0-23',
 '2021-0-24',
 '2021-0-25',
 '2021-0-26',
 '2021-0-27',
 '2021-0-28',
 '2021-0-29',
 '2021-0-30',
 '2021-0-31',
 '2021-1-0',
 '2021-1-1',
 '2021-1-2',
 '2021-1-3',
 '2021-1-4',
 '2021-1-5',
 '2021-1-6',
 '2021-1-7',
 '2021-1-8',
 '2021-1-9',
 '2021-1-10',
 '2021-1-11',
 '2021-1-12',
 '2021-1-13',
 '2021-1-14',
 '2021-1-15',
 '2021-1-16',
 '2021-1-17',
 '2021-1-18',
 '2021-1-19',
 '2021-1-20',
 '2021-1-21',
 '2021-1-22',
 '2021-1-23',
 '2021-1-24',
 '2021-1-25',
 '2021-1-26',
 '2021-1-27',
 '2021-1-28',
 '2021-1-29',
 '2021-1-30',
 '2021-1-31',
 '2021-2-0',
 '2021-2-1',
 '2021-2-2',
 '2021-2-3',
 '2021-2-4',
 '2021-2-5',
 '2021-2-6',
 '2021-2-7',
 '2021-2-8',
 '2021-2-9',
 '2021-2-10',
 '2021-2-11',
 '2021-2-12',
 '2021-2-13',
 '2021-2-14',
 '2021-2-15',
 '2021-2-16',
 '2021-2-17',
 '2021-2-18',
 '2021-2-19',
 '2021-2-20',
 '2021-2-21',
 '2021-2-22',
 '2021-2-23',
 '2021-2-24',
 '2021-2-25',
 '2021-2-26',
 '2021-2-27',
 '2021-2-28',
 '2021-2-29',
 '2021-2-30',
 '2021-2-31',
 '2021-3-0',
 '2021-3-1',
 '2021-3-2',
 '2021-3-3',
 '2021-3-4',
 '2021-3-5',
 '2021-3-6',
 '2021-3-7',
 '2021-3-8',
 '2021-3-9',
 '2021-3-10',
 '2021-3-11',
 '2021-3-12',
 '2021-3-13',
 '2021-3-14',
 '2021-3-15',
 '2021-3-16',
 '2021-3-17',
 '2021-3-18',
 '2021-3-19',
 '2021-3-20',
 '2021-3-21',
 '2021-3-22',
 '2021-3-23',
 '2021-3-24',
 '2021-3-25',
 '2021-3-26',
 '2021-3-27',
 '2021-3-28',
 '2021-3-29',
 '2021-3-30',
 '2021-3-31',
 '2021-04-0',
 '2021-04-1',
 '2021-04-2',
 '2021-04-3',
 '2021-04-4',
 '2021-04-5',
 '2021-04-6',
 '2021-04-7',
 '2021-04-8',
 '2021-04-9',
 '2021-04-10',
 '2021-04-11',
 '2021-04-12',
 '2021-04-13',
 '2021-04-14',
 '2021-04-15',
 '2021-04-16',
 '2021-04-17',
 '2021-04-18',
 '2021-04-19',
 '2021-04-20']

In [13]:
metro2=metro.loc[metro['Date'].isin(liste)]
metro2

,Code métropole,Métropole,Nature,Date,Heures,Date - Heure,Consommation (MW),Production,Echanges physiques,Stockage batterie,Déstockage batterie,Eolien terrestre,Eolien offshore,NOM
16766,246300701,Clermont Auvergne Métropole,Données temps réel,2020-12-17,04:15,2020-12-17T04:15:00+01:00,165.0,NaN,NaN,NaN,NaN,NaN,NaN,CLERMONT-FD
16767,246300701,Clermont Auvergne Métropole,Données temps réel,2020-12-17,06:45,2020-12-17T06:45:00+01:00,192.0,NaN,NaN,NaN,NaN,NaN,NaN,CLERMONT-FD
16768,246300701,Clermont Auvergne Métropole,Données temps réel,2020-12-17,07:00,2020-12-17T07:00:00+01:00,200.0,NaN,NaN,NaN,NaN,NaN,NaN,CLERMONT-FD
16769,246300701,Clermont Auvergne Métropole,Données temps réel,2020-12-17,07:15,2020-12-17T07:15:00+01:00,209.0,NaN,NaN,NaN,NaN,NaN,NaN,CLERMONT-FD
16770,246300701,Clermont Auvergne Métropole,Données temps réel,2020-12-17,07:45,2020-12-17T07:45:00+01:00,223.0,NaN,NaN,NaN,NaN,NaN,NaN,CLERMONT-FD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1527454,200023414,Métropole Rouen Normandie,Données temps réel,2020-12-31,17:45,2020-12-31T17:45:00+01:00,542.0,NaN,NaN,NaN,NaN,NaN,NaN,ROUEN-BOOS
1527457,200023414,Métropole Rouen Normandie,Données temps réel,2020-12-31,18:30,2020-12-31T18:30:00+01:00,537.0,NaN,NaN,NaN,NaN,NaN,NaN,ROUEN-BOOS
1527460,200023414,Métropole Rouen Normandie,Données temps réel,2020-12-31,19:00,2020-12-31T19:00:00+01:00,547.0,NaN,NaN,NaN,NaN,NaN,NaN,ROUEN-BOOS
1527463,200023414,Métropole Rouen Normandie,Données temps réel,2020-12-31,22:00,2020-12-31T22:00:00+01:00,516.0,NaN,NaN,NaN,NaN,NaN,NaN,ROUEN-BOOS
1527466,200023414,Métropole Rouen Normandie,Données temps réel,2020-12-31,23:45,2020-12-31T23:45:00+01:00,546.0,NaN,NaN,NaN,NaN,NaN,NaN,ROUEN-BOOS

In [20]:
metro3=metro2.groupby('Date')['Consommation (MW)'].mean()
metro3

<ipython-input-20-81b09590fdba>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  metro3=metro2.groupby('Date')['Consommation (MW)','Métropole'].mean()

            Consommation (MW)
Date
2020-10-10         716.636488
2020-10-11         747.871547
2020-10-12         795.202703
2020-10-13         862.920981
2020-10-14         863.604871
...                       ...
2021-04-16         880.052229
2021-04-17         764.197201
2021-04-18         786.905128
2021-04-19         842.531695
2021-04-20         780.776687

[76 rows x 1 columns]

In [ ]:
pd.merge(metro2,mfdata2, on = 'NOM', how='inner')