In [ ]:
import pandas as pd

In [ ]:
metro=pd.read_csv('/content/eco2mix-metropoles-tr.csv', sep=';')
mfdata=pd.read_csv('/content/meteo-france-donneesq-covid19.csv', sep =';', encoding = 'latin1',on_bad_lines='skip' )
mfdata

In [ ]:
metro['Métropole']
listemetro=[]
for i in metro['Métropole'] : 
  if i not in listemetro : 
    listemetro.append(i)
#listemetro #liste des différentes métropoles
listemf=[]
for j in mfdata['NOM'] : 
  if j not in listemf : 
    listemf.append(j)
print (len(listemf))
#listemf # liste des différentes stations météo

112

Pour savoir quelles stations sont les plus proches d'une métropole donnée, petit programme pour les afficher sur un fond de carte.

In [ ]:
pattern = r'(?P<d>[\d\.]+).*?(?P<m>[\d\.]+).*?(?P<s>[\d\.]+).*?(?P<h>[NSWE])'
hemisphere_sig = {'N': 1, 'S': -1, 'E': 1, 'W': -1}

dms = mfdata['LAT'].str.extract(pattern)
dms['h'] = dms['h'].map(hemisphere_sig)
dms = dms.astype(float)

mfdata['Lat'] = dms['h'] * (dms['d'] + dms['m'].div(60) + dms['s'].div(3600))

dms = mfdata['LON'].str.extract(pattern)
dms['h'] = dms['h'].map(hemisphere_sig)
dms = dms.astype(float)

mfdata['Lon'] = dms['h'] * (dms['d'] + dms['m'].div(60) + dms['s'].div(3600))
print(mfdata)

mfdata=mfdata.dropna(subset=['Lon'])

mfdata=mfdata.dropna(subset=['Lat'])

import folium
map_osm = folium.Map(location=[48.85, 2.34])
for ind, lat, lon, com in mfdata[['Lat', 'Lon', 'NOM']].itertuples():
    map_osm.add_child(folium.RegularPolygonMarker(location=[lat,lon], popup=com,
                       fill_color='#132b5e', radius=5))
map_osm

          POSTE       NOM        LON         LAT  ALT      DATE   RR QRR  \
0       1089001  AMBERIEU  5°19'45"E  45°58'35"N  250  20200101  0,0   v
1       1089001  AMBERIEU  5°19'45"E  45°58'35"N  250  20200102  0,0   v
2       1089001  AMBERIEU  5°19'45"E  45°58'35"N  250  20200103  0,4   v
3       1089001  AMBERIEU  5°19'45"E  45°58'35"N  250  20200104  0,6   v
4       1089001  AMBERIEU  5°19'45"E  45°58'35"N  250  20200105  0,0   v
...         ...       ...        ...         ...  ...       ...  ...  ..
53419  95527001    ROISSY  2°32'03"E  49°00'54"N  108  20210417  0,0   v
53420  95527001    ROISSY  2°32'03"E  49°00'54"N  108  20210418  0,0   v
53421  95527001    ROISSY  2°32'03"E  49°00'54"N  108  20210419  0,0   v
53422  95527001    ROISSY  2°32'03"E  49°00'54"N  108  20210420  0,0   v
53423  95527001    ROISSY  2°32'03"E  49°00'54"N  108  20210421  0,0   v

         TN QTN  ...    UX QUX DHUMI40 QDHUMI40 DHUMI80 QDHUMI80    UM QUM  \
0      -2,2   v  ...  98.0   v     0.0        t  1440.0        t  97.0   v
1      -1,8   v  ...  99.0   v     0.0        t   860.0        t  86.0   v
2       3,3   v  ...  95.0   v     0.0        t   620.0        t  81.0   v
3       3,4   v  ...  97.0   v     0.0        t  1168.0        t  89.0   v
4      -3,4   v  ...  97.0   v     0.0        t  1395.0        t  92.0   v
...     ...  ..  ...   ...  ..     ...      ...     ...      ...   ...  ..
53419   2,6   v  ...  89.0   v   239.0        t   357.0        t  62.0   v
53420   2,0   v  ...  90.0   v     0.0        t   349.0        t  66.0   v
53421   3,3   v  ...  86.0   v   226.0        t   403.0        t  60.0   v
53422   5,7   v  ...  85.0   v   358.0        t   215.0        t  56.0   v
53423   6,5   v  ...  84.0   v    40.0        t   151.0        t  61.0   v

             Lat       Lon
0      45.976389  5.329167
1      45.976389  5.329167
2      45.976389  5.329167
3      45.976389  5.329167
4      45.976389  5.329167
...          ...       ...
53419  49.015000  2.534167
53420  49.015000  2.534167
53421  49.015000  2.534167
53422  49.015000  2.534167
53423  49.015000  2.534167

[53424 rows x 28 columns]

In [ ]:
mfdata2=mfdata[['NOM','Lat','Lon']]

In [ ]:
map_osm = folium.Map(location=[48.85, 2.34])
for ind, lat, lon, com in mfdata2[['Lat', 'Lon', 'NOM']].itertuples():
    map_osm.add_child(folium.RegularPolygonMarker(location=[lat,lon], popup=com,
                       fill_color='#132b5e', radius=5))
map_osm.save('mymap.html')

Ca marche !

On rajoute une nouvelle colonne : Pour chaque métropole, la station météo la plus proche.
On fait ensuite un merge pour ne garder que les stations météos d'intérêt.

In [ ]:
metro['NOM']=''
metro.loc[metro['Métropole'] == 'Clermont Auvergne Métropole', 'NOM'] = 'CLERMONT-FD'
metro.loc[metro['Métropole'] == "Métropole d'Aix-Marseille-Provence", 'NOM'] = 'MARSEILLE'
metro.loc[metro['Métropole'] == 'Métropole de Lyon', 'NOM'] = 'LYON-BRON'
metro.loc[metro['Métropole'] == 'Dijon Métropole', 'NOM'] = 'DIJON-LONGVIC'
metro.loc[metro['Métropole'] == 'Métropole Grenoble-Alpes-Métropole', 'NOM'] = 'GRENOBLE-ST GEOIRS'
metro.loc[metro['Métropole'] == 'Métropole Européenne de Lille', 'NOM'] = 'LILLE-LESQUIN'
metro.loc[metro['Métropole'] == 'Métropole du Grand Nancy', 'NOM'] = 'NANCY-ESSEY'
metro.loc[metro['Métropole'] == 'Montpellier Méditerranée Métropole', 'NOM'] = 'MONTPELLIER-AEROPORT'
metro.loc[metro['Métropole'] == 'Nantes Métropole', 'NOM'] = 'NANTES-BOUGUENAIS'
metro.loc[metro['Métropole'] == 'Bordeaux Métropole', 'NOM'] = 'BORDEAUX-MERIGNAC'
metro.loc[metro['Métropole'] == 'Brest Métropole', 'NOM'] = 'BREST-GUIPAVAS'
metro.loc[metro['Métropole'] == "Métropole Nice Côte d'Azur", 'NOM'] = 'NICE'
metro.loc[metro['Métropole'] == "Métropole du Grand Paris", 'NOM'] = 'PARIS-MONTSOURIS'
metro.loc[metro['Métropole'] == "Eurométropole de Strasbourg", 'NOM'] = 'STRASBOURG-ENTZHEIM'
metro.loc[metro['Métropole'] == "Saint-Etienne Métropole", 'NOM'] = 'ST ETIENNE-BOUTHEON'
metro.loc[metro['Métropole'] == "Métropole Rennes Métropole", 'NOM'] = 'RENNES-ST JACQUES'
metro.loc[metro['Métropole'] == "Métropole Rouen Normandie", 'NOM'] = 'ROUEN-BOOS'
metro.loc[metro['Métropole'] == "Métropole Toulon-Provence-Méditerranée", 'NOM'] = 'HYERES'
metro.loc[metro['Métropole'] == "Toulouse Métropole", 'NOM'] = 'TOULOUSE-BLAGNAC'

In [ ]:
listestations=['CLERMONT-FD','MARSEILLE','LYON-BRON','DIJON-LONGVIC','GRENOBLE-ST GEOIRS','LILLE-LESQUIN','NANCY-ESSEY','MONTPELLIER-AEROPORT','NANTES-BOUGUENAIS','BORDEAUX-MERIGNAC','BREST-GUIPAVAS','NICE','PARIS-MONTSOURIS','STRASBOURG-ENTZHEIM','ST ETIENNE-BOUTHEON','RENNES-ST JACQUES','ROUEN-BOOS' ,'HYERES','TOULOUSE-BLAGNAC']
mfdata2=mfdata.loc[mfdata['NOM'].isin(listestations)] #On ne conserve que les stations météo d'intérêt pour alléger le merge

In [ ]:
metro

,Code métropole,Métropole,Nature,Date,Heures,Date - Heure,Consommation (MW),Production,Echanges physiques,Stockage batterie,Déstockage batterie,Eolien terrestre,Eolien offshore,NOM
0,243300316,Bordeaux Métropole,Données temps réel,2019-02-15,23:15,2019-02-15T23:15:00+01:00,730.0,NaN,NaN,NaN,NaN,NaN,NaN,BORDEAUX-MERIGNAC
1,243300316,Bordeaux Métropole,Données temps réel,2019-02-16,02:30,2019-02-16T02:30:00+01:00,667.0,NaN,NaN,NaN,NaN,NaN,NaN,BORDEAUX-MERIGNAC
2,243300316,Bordeaux Métropole,Données temps réel,2019-02-16,06:15,2019-02-16T06:15:00+01:00,691.0,NaN,NaN,NaN,NaN,NaN,NaN,BORDEAUX-MERIGNAC
3,243300316,Bordeaux Métropole,Données temps réel,2019-02-16,06:45,2019-02-16T06:45:00+01:00,678.0,NaN,NaN,NaN,NaN,NaN,NaN,BORDEAUX-MERIGNAC
4,243300316,Bordeaux Métropole,Données temps réel,2019-02-16,08:15,2019-02-16T08:15:00+01:00,709.0,NaN,NaN,NaN,NaN,NaN,NaN,BORDEAUX-MERIGNAC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1540550,200023414,Métropole Rouen Normandie,Données temps réel,2020-09-24,00:00,2020-09-24T00:00:00+02:00,406.0,NaN,NaN,NaN,NaN,NaN,NaN,ROUEN-BOOS
1540551,200054807,Métropole d'Aix-Marseille-Provence,Données temps réel,2021-03-01,07:30,2021-03-01T07:30:00+01:00,1830.0,NaN,NaN,NaN,NaN,NaN,NaN,MARSEILLE
1540552,243500139,Métropole Rennes Métropole,Données temps réel,2018-06-14,18:15,2018-06-14T18:15:00+02:00,253.0,NaN,NaN,NaN,NaN,NaN,NaN,RENNES-ST JACQUES
1540553,243100518,Toulouse Métropole,Données temps réel,2022-06-01,10:30,2022-06-01T10:30:00+02:00,422.0,ND,411,-,-,-,-,TOULOUSE-BLAGNAC
1540554,20002341,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,

On génère une liste de dates du 1er janvier 2020 au 20 avril 2021.

In [1]:
liste=[]
for m in range(13) :
   for j in range(32) :
      liste.append('2020-'+str(m)+'-'+str(j))
for m in range(4) :
   for j in range(32) :
      liste.append('2021-'+str(m)+'-'+str(j))
for j in range(21):
  liste.append('2021-04-'+str(j))

In [ ]:
metro2=metro.loc[metro['Date'].isin(liste)]
metro2

,Code métropole,Métropole,Nature,Date,Heures,Date - Heure,Consommation (MW),Production,Echanges physiques,Stockage batterie,Déstockage batterie,Eolien terrestre,Eolien offshore,NOM
16766,246300701,Clermont Auvergne Métropole,Données temps réel,2020-12-17,04:15,2020-12-17T04:15:00+01:00,165.0,NaN,NaN,NaN,NaN,NaN,NaN,CLERMONT-FD
16767,246300701,Clermont Auvergne Métropole,Données temps réel,2020-12-17,06:45,2020-12-17T06:45:00+01:00,192.0,NaN,NaN,NaN,NaN,NaN,NaN,CLERMONT-FD
16768,246300701,Clermont Auvergne Métropole,Données temps réel,2020-12-17,07:00,2020-12-17T07:00:00+01:00,200.0,NaN,NaN,NaN,NaN,NaN,NaN,CLERMONT-FD
16769,246300701,Clermont Auvergne Métropole,Données temps réel,2020-12-17,07:15,2020-12-17T07:15:00+01:00,209.0,NaN,NaN,NaN,NaN,NaN,NaN,CLERMONT-FD
16770,246300701,Clermont Auvergne Métropole,Données temps réel,2020-12-17,07:45,2020-12-17T07:45:00+01:00,223.0,NaN,NaN,NaN,NaN,NaN,NaN,CLERMONT-FD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1527454,200023414,Métropole Rouen Normandie,Données temps réel,2020-12-31,17:45,2020-12-31T17:45:00+01:00,542.0,NaN,NaN,NaN,NaN,NaN,NaN,ROUEN-BOOS
1527457,200023414,Métropole Rouen Normandie,Données temps réel,2020-12-31,18:30,2020-12-31T18:30:00+01:00,537.0,NaN,NaN,NaN,NaN,NaN,NaN,ROUEN-BOOS
1527460,200023414,Métropole Rouen Normandie,Données temps réel,2020-12-31,19:00,2020-12-31T19:00:00+01:00,547.0,NaN,NaN,NaN,NaN,NaN,NaN,ROUEN-BOOS
1527463,200023414,Métropole Rouen Normandie,Données temps réel,2020-12-31,22:00,2020-12-31T22:00:00+01:00,516.0,NaN,NaN,NaN,NaN,NaN,NaN,ROUEN-BOOS
1527466,200023414,Métropole Rouen Normandie,Données temps réel,2020-12-31,23:45,2020-12-31T23:45:00+01:00,546.0,NaN,NaN,NaN,NaN,NaN,NaN,ROUEN-BOOS

In [19]:
metro2['Date'] = pd.to_datetime(metro2['Date'])

metro3 = metro2.groupby(['Métropole', 'NOM', pd.Grouper(key='Date', freq='D')])['Consommation (MW)'].mean()

<ipython-input-19-526eaaa608c8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metro2['Date'] = pd.to_datetime(metro2['Date'])

In [21]:
pd.merge(metro3,mfdata2, on = 'NOM', how='inner')

,NOM,Consommation (MW),POSTE,LON,LAT,ALT,DATE,RR,QRR,TN,...,UN,QUN,UX,QUX,DHUMI40,QDHUMI40,DHUMI80,QDHUMI80,UM,QUM
0,BORDEAUX-MERIGNAC,445.722222,33281001,"0°41'28""O","44°49'50""N",47,20200101,"0,0",v,"7,5",...,80.0,v,94.0,v,0.0,t,1440.0,t,88.0,v
1,BORDEAUX-MERIGNAC,445.722222,33281001,"0°41'28""O","44°49'50""N",47,20200102,"0,0",v,"6,2",...,70.0,v,96.0,v,0.0,t,1007.0,t,84.0,v
2,BORDEAUX-MERIGNAC,445.722222,33281001,"0°41'28""O","44°49'50""N",47,20200103,"1,6",v,"4,4",...,86.0,v,100.0,v,0.0,t,1440.0,t,95.0,v
3,BORDEAUX-MERIGNAC,445.722222,33281001,"0°41'28""O","44°49'50""N",47,20200104,"0,0",v,"6,0",...,66.0,v,100.0,v,0.0,t,1207.0,t,91.0,v
4,BORDEAUX-MERIGNAC,445.722222,33281001,"0°41'28""O","44°49'50""N",47,20200105,"0,0",v,"-0,1",...,60.0,v,100.0,v,0.0,t,988.0,t,87.0,v
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300505,NANTES-BOUGUENAIS,381.733333,44020001,"1°36'31""O","47°08'59""N",26,20210417,"0,0",v,"1,3",...,37.0,v,86.0,v,122.0,t,197.0,t,60.0,v
300506,NANTES-BOUGUENAIS,381.733333,44020001,"1°36'31""O","47°08'59""N",26,20210418,"0,0",v,"-0,2",...,31.0,v,90.0,v,327.0,t,396.0,t,60.0,v
300507,NANTES-BOUGUENAIS,381.733333,44020001,"1°36'31""O","47°08'59""N",26,20210419,"0,0",v,"3,3",...,36.0,v,89.0,v,213.0,t,379.0,t,60.0,v
300508,NANTES-BOUGUENAIS,381.733333,44020001,"1°36'31""O","47°08'59""N",26,20210420,"0,0",v,"9,0",...,32.0,v,71.0,v,436.0,t,0.0,t,53.0,v
300509,NANTES-BOUGUENAIS,381.733333,44020001,"1°36'31""O","47°08'59""N",26,20210421,"0,0",v,"6,9",...,29.0,v,83.0,v,539.0,t,89.0,t,52.0,v